.box-info-prod__wrap {
  display: flex;
  flex-direction: column;
  padding-right: 50%;
  position: relative; }

.box-info-prod__title h1 {
  margin-bottom: 0px;
  font-family: 'Proxima nova condensed', sans-serif;
  color: #000;
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
  word-wrap: break-word; }

.box-info-prod__images {
  width: 50%;
  position: absolute;
  right: 0;
  top: 0; }

.box-info-prod__btn button {
  max-width: 350px;
  margin: auto;
  width: 100%;
  font-size: 16px;
  margin-top: 20px;
  background-color: #ffd600;
  color: #000;
  font-weight: bold;
  padding: 13px; }

.box-info-prod__trigers {
  padding: 20px 0;
  display: flex;
  justify-content: space-around; }
  .box-info-prod__trigers .-item {
    max-width: 30%;
    text-align: center; }
  .box-info-prod__trigers a {
    color: #333;
    display: inline-block; }
    .box-info-prod__trigers a:hover {
      text-decoration: none; }
    .box-info-prod__trigers a img {
      margin: auto;
      height: 70px; }
    .box-info-prod__trigers a div {
      padding-top: 10px; }

@media screen and (max-width: 768px) {
  .box-info-prod__wrap {
    display: flex;
    padding: 0; }
  .box-info-prod__images {
    position: initial;
    width: 100%; }
  .box-info-prod__trigers a {
    font-size: 14px; }
    .box-info-prod__trigers a div {
      padding-top: 5px; } }

/*# sourceMappingURL=.maps/box.css.map */
