body {
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.hide {
  display: none; }

.ct, .fd, .fx {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px; }

.fx {
  max-width: 1250px; }

@media (max-width: 480 - 1px) {
  .hid-xxs {
    display: none !important; }
  .vis-xxs {
    display: block !important; } }

@media (max-width: 768 - 1px) and (min-width: 480px) {
  .hid-xs {
    display: none !important;
    content: 'dda'; }
  .vis-xs {
    display: block !important; } }

@media (max-width: 950 - 1px) and (min-width: 768px) {
  .hid-sm {
    display: none !important;
    content: 'dda'; }
  .vis-sm {
    display: block !important; } }

@media (max-width: 1250 - 1px) and (min-width: 950px) {
  .hid-md {
    display: none !important;
    content: 'dda'; }
  .vis-md {
    display: block !important; } }

@media (min-width: 1250px) {
  .hid-lg {
    display: none !important; }
  .vis-lg {
    display: block !important; } }

html {
  font-size: 10px; }

body {
  font-size: 1.5rem;
  background: url("/img/fon.png?1") center top; }

.img-responsive {
  display: block;
  max-width: 100%; }

.pagination {
  background: rgba(119, 119, 119, 0.2); }
  .pagination__wrap {
    height: 50px;
    display: flex;
    align-items: center; }

.imenu__main__wrap {
  padding: 0;
  height: 70px; }

.page1 {
  padding-bottom: 20px; }
  .page1__wrap {
    padding: 30px 0px;
    position: relative;
    display: flex;
    border-bottom: 1px solid #ffcc00;
    align-items: flex-end; }
    .page1__wrap:before {
      content: '';
      height: 3px;
      bottom: 0;
      left: 0;
      width: 100px;
      background: #ffcc00;
      position: absolute; }
  .page1__dop {
    flex-grow: 1;
    text-align: right;
    display: flex;
    justify-content: flex-end; }
    .page1__dop button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      cursor: pointer;
      height: 50px;
      font-size: 25px;
      background: transparent;
      margin-left: 20px;
      border-radius: 5px;
      background: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
      .page1__dop button:hover {
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
      .page1__dop button span {
        padding-left: 15px;
        display: inline-block;
        font-size: 18px; }
  .page1__h1 {
    padding-right: 40px; }
    .page1__h1 h1 {
      font-size: 3.5rem; }
    .page1__h1 .-predop {
      color: #555;
      font-size: 18px;
      padding-top: 15px; }

.filter {
  margin: 10px 0 0; }
  .filter__wrap li {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ffcc00;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    background: #fff;
    margin-top: 10px; }
    .filter__wrap li i {
      font-size: 20px;
      margin-right: 10px; }
    .filter__wrap li:hover {
      background: #ffcc00;
      color: #000; }

.catalog3__wrap {
  display: flex;
  flex-wrap: wrap; }
  .catalog3__wrap > *:nth-child(2n+1) {
    padding-right: 20px; }
  .catalog3__wrap > *:nth-child(2n+2) {
    padding-left: 20px; }

.catalog3__item {
  width: 33.3%;
  width: 50%;
  margin-bottom: 40px; }
  .catalog3__item .-wrap {
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 100%; }
  .catalog3__item .-img {
    position: relative; }
    .catalog3__item .-img a {
      cursor: pointer;
      display: block;
      position: relative;
      text-decoration: none; }
      .catalog3__item .-img a img {
        transition: .2s; }
      .catalog3__item .-img a:hover img {
        opacity: .9; }
    .catalog3__item .-img .-title {
      background: #ffcc00;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      height: 75px;
      align-items: center; }
      .catalog3__item .-img .-title span {
        color: #000;
        font-weight: bold;
        display: block;
        padding: 0 30px;
        font-size: 18px;
        line-height: 1.4; }
  .catalog3__item .-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0; }
  .catalog3__item .-prop {
    padding-bottom: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    color: #fff; }
    .catalog3__item .-prop .-www {
      padding: 0;
      margin: 0; }
      .catalog3__item .-prop .-www li {
        background: rgba(0, 0, 0, 0.6);
        display: inline-block;
        margin-right: 5px;
        padding: 8px 10px;
        margin-bottom: 10px;
        border-radius: 3px; }
        .catalog3__item .-prop .-www li i {
          margin-right: 15px; }
  .catalog3__item .-desc {
    flex-grow: 1;
    font-size: 16px;
    line-height: 1.4; }
  .catalog3__item .-dops {
    padding: 0 0 20px; }
    .catalog3__item .-dops .-www {
      display: flex; }
      .catalog3__item .-dops .-www > * {
        width: 100%;
        background: #ddd;
        color: #000; }
      .catalog3__item .-dops .-www .-zakaz a {
        background: #ffcc00;
        font-weight: bold; }
      .catalog3__item .-dops .-www a {
        font-weight: bold;
        text-decoration: none;
        background: #fff;
        color: #333;
        box-shadow: 0 0px 3px rgba(51, 51, 51, 0.35); }
        .catalog3__item .-dops .-www a:hover {
          box-shadow: 0 0px 10px rgba(51, 51, 51, 0.5); }

.karto4ka__wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative; }

.karto4ka__www .-wrap, .karto4ka__img .-wrap, .karto4ka__color .-wrap, .karto4ka__komplect .-wrap, .karto4ka__properties .-wrap {
  height: 100%;
  border-radius: 10px; }

.karto4ka__img {
  width: 60%;
  padding-right: 10px; }
  .karto4ka__img .-big img {
    transition: .2s; }
    .karto4ka__img .-big img:hover {
      cursor: pointer;
      opacity: .8; }
  .karto4ka__img .-wrap {
    padding: 0; }
  .karto4ka__img .-small {
    display: flex; }
    .karto4ka__img .-small > * {
      padding-right: 15px; }
    .karto4ka__img .-small .-item {
      width: 20%; }
      .karto4ka__img .-small .-item img {
        border: 2px solid transparent;
        transition: .2s;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray;
        /* IE 6-9 */ }
        .karto4ka__img .-small .-item img:hover {
          cursor: pointer;
          -webkit-filter: none;
          -moz-filter: none;
          -ms-filter: none;
          -o-filter: none;
          filter: none;
          filter: none;
          /* IE 6-9 */ }
      .karto4ka__img .-small .-item.-active img {
        border-color: #ffcc00;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
        filter: none;
        /* IE 6-9 */ }
  .karto4ka__img .-www {
    margin: auto; }
  .karto4ka__img .owl-dots {
    display: none; }
  .karto4ka__img .owl-nav {
    position: absolute;
    top: 50%;
    bottom: 0;
    height: 0px;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    left: -40px;
    right: -40px; }
    .karto4ka__img .owl-nav button {
      color: #fff;
      font-size: 2rem;
      border-radius: 50px; }
      .karto4ka__img .owl-nav button.owl-prev {
        right: -20px;
        position: relative; }
      .karto4ka__img .owl-nav button.owl-next {
        left: -25px;
        position: relative; }
      .karto4ka__img .owl-nav button div {
        padding: 10px;
        transition: .2s;
        color: #fff;
        width: 40px;
        height: 40px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
        background: #ffcc00;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        position: relative;
        opacity: 1; }
        .karto4ka__img .owl-nav button div:hover {
          background: #ffd633; }

.karto4ka__color {
  width: 40%;
  padding-left: 10px; }
  .karto4ka__color .-www {
    padding: 20px 20px 0;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .karto4ka__color .-www .-price {
      background: #fff;
      margin-top: 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border: 2px dashed #aaa;
      padding: 20px; }
      .karto4ka__color .-www .-price .-ram {
        max-width: 270px;
        margin: auto; }
        .karto4ka__color .-www .-price .-ram strong {
          font-size: 2rem; }
        .karto4ka__color .-www .-price .-ram div {
          padding: 15px 0;
          font-size: 2.2rem; }
          .karto4ka__color .-www .-price .-ram div b {
            color: red;
            font-size: 3rem; }
        .karto4ka__color .-www .-price .-ram small {
          font-size: 1.5rem;
          padding: 10px 0;
          color: #777; }
    .karto4ka__color .-www .-desc {
      font-size: 1.8rem;
      line-height: 1.4; }

.karto4ka__komplect {
  width: 100%;
  margin: 60px 0 0; }
  .karto4ka__komplect .-title {
    font-weight: bold;
    font-size: 2.4rem;
    padding: 10px 20px;
    text-align: center;
    background: #ffcc00; }
  .karto4ka__komplect .-www {
    max-width: 700px; }
  .karto4ka__komplect .-list {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    z-index: 10;
    justify-content: space-between; }
    .karto4ka__komplect .-list .-item {
      display: flex;
      align-items: center;
      position: relative;
      font-size: 1.6rem;
      margin-bottom: 20px;
      width: 33%;
      padding-left: 0px; }
      .karto4ka__komplect .-list .-item img {
        margin-right: 15px;
        position: relative;
        top: 3px; }

.karto4ka__properties {
  width: 100%;
  padding-top: 20px; }
  .karto4ka__properties .-wrap {
    padding: 0; }
  .karto4ka__properties .-www dt {
    padding-top: 10px;
    border-bottom: 1px solid #ddd; }
    .karto4ka__properties .-www dt ul {
      display: flex;
      flex-wrap: wrap; }
      .karto4ka__properties .-www dt ul li {
        display: block;
        padding-right: 30px; }
        .karto4ka__properties .-www dt ul li:last-child {
          padding-right: 0; }
    .karto4ka__properties .-www dt button {
      cursor: pointer;
      font-weight: bold;
      font-size: 1.8rem;
      position: relative;
      display: flex;
      height: 55px;
      justify-content: center;
      align-items: center;
      transition: .2s;
      background: transparent; }
      .karto4ka__properties .-www dt button:hover:before, .karto4ka__properties .-www dt button.-active:before {
        opacity: 1; }
      .karto4ka__properties .-www dt button:before {
        transition: .2s;
        opacity: 0;
        display: block;
        left: 0;
        content: '';
        height: 5px;
        background: #ffcc00;
        position: absolute;
        width: 100%;
        bottom: -1px; }
  .karto4ka__properties .-www dd {
    padding-top: 30px;
    font-size: 1.6rem; }
    .karto4ka__properties .-www dd > * {
      display: none;
      max-width: 700px; }
      .karto4ka__properties .-www dd > *.-active {
        display: block !important; }
    .karto4ka__properties .-www dd p {
      margin-bottom: 20px;
      line-height: 1.4; }

/*# sourceMappingURL=.maps/cat.css.map */
