body {
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.hide {
  display: none; }

.ct, .fd, .fx {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px; }

.fx {
  max-width: 1200px; }

@media (max-width: 480px) {
  #zdevice {
    content: "xxs"; } }

@media (max-width: 768px) and (min-width: 480px) {
  #zdevice {
    content: "xs"; } }

@media (max-width: 950px) and (min-width: 768px) {
  #zdevice {
    content: "sm"; } }

@media (max-width: 1200px) and (min-width: 950px) {
  #zdevice {
    content: "md"; } }

@media (min-width: 1200px) {
  #zdevice {
    content: "lg"; } }

html {
  font-size: 10px; }

body {
  font-size: 1.5rem;
  background: url("/img/fon.png?1") center top; }

.img-responsive {
  display: block;
  max-width: 100%; }

.footer3 {
  background: #000;
  padding: 40px 0; }
  .footer3__line {
    position: absolute;
    top: 130px;
    height: 1px;
    background: #333;
    width: 100%;
    left: 0; }
  .footer3__line2 {
    position: absolute;
    bottom: 100px;
    height: 1px;
    background: #333;
    width: 100%;
    display: none;
    left: 0; }
  .footer3__wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
  .footer3__logo {
    color: #fff;
    flex-grow: 1;
    text-align: center;
    padding: 0 20px; }
    .footer3__logo .-logo {
      width: 100%;
      padding-bottom: 10px; }
      .footer3__logo .-logo img {
        height: 30px;
        display: inline-block;
        vertical-align: bottom; }
      .footer3__logo .-logo span {
        padding-left: 10px; }
      .footer3__logo .-logo a {
        display: inline-block;
        color: #fff;
        text-decoration: none; }
        .footer3__logo .-logo a:hover {
          color: #ffd600; }
    .footer3__logo .-next {
      text-align: center; }
    .footer3__logo .-conf {
      text-align: center;
      padding-top: 5px; }
      .footer3__logo .-conf a {
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        color: #00afdb;
        font-size: 16px;
        line-height: 23px;
        text-align: center; }
        .footer3__logo .-conf a:hover {
          text-decoration: none; }
  .footer3__menu {
    width: 75%;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding-right: 40px;
    padding-bottom: 60px; }
    .footer3__menu ul {
      padding: 0;
      margin: 0; }
      .footer3__menu ul li a {
        margin-bottom: 3px;
        display: inline-block;
        font-size: 16px;
        color: #fff;
        line-height: 1.4; }
        .footer3__menu ul li a:hover {
          color: #ffd600; }
  .footer3__phone {
    width: 25%;
    flex-grow: 0; }
    .footer3__phone span {
      color: #fff;
      display: block;
      font-weight: 300;
      padding-top: 5px; }
    .footer3__phone a {
      display: inline-block;
      font-weight: bold;
      font-size: 24px;
      color: #fff;
      text-decoration: none;
      transition: .2s; }
      .footer3__phone a:hover {
        color: #ffd600; }
  .footer3__soc {
    width: 25%;
    flex-grow: 0;
    text-align: right;
    padding-bottom: 60px; }
    .footer3__soc .-email a {
      color: #fff;
      text-decoration: none; }
    .footer3__soc .-icon {
      margin-top: -5px;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      .footer3__soc .-icon a {
        transition: .2s;
        display: flex;
        margin: 0 -12px;
        flex-shrink: 0;
        flex-grow: 0; }
        .footer3__soc .-icon a i {
          display: flex;
          transform: scale(0.5); }
          .footer3__soc .-icon a i.-vk {
            background-image: url(../../img/sprite/sprite.png);
            background-position: 0px -132px;
            width: 64px;
            height: 64px; }
            .footer3__soc .-icon a i.-vk:hover {
              background-image: url(../../img/sprite/sprite.png);
              background-position: -66px -132px;
              width: 64px;
              height: 64px; }
          .footer3__soc .-icon a i.-fb {
            background-image: url(../../img/sprite/sprite.png);
            background-position: 0px 0px;
            width: 64px;
            height: 64px; }
            .footer3__soc .-icon a i.-fb:hover {
              background-image: url(../../img/sprite/sprite.png);
              background-position: -66px 0px;
              width: 64px;
              height: 64px; }
          .footer3__soc .-icon a i.-ok {
            background-image: url(../../img/sprite/sprite.png);
            background-position: -132px 0px;
            width: 64px;
            height: 64px; }
            .footer3__soc .-icon a i.-ok:hover {
              background-image: url(../../img/sprite/sprite.png);
              background-position: -132px -66px;
              width: 64px;
              height: 64px; }
          .footer3__soc .-icon a i.-you {
            background-image: url(../../img/sprite/sprite.png);
            background-position: -132px -132px;
            width: 64px;
            height: 64px; }
            .footer3__soc .-icon a i.-you:hover {
              background-image: url(../../img/sprite/sprite.png);
              background-position: -198px 0px;
              width: 64px;
              height: 64px; }
          .footer3__soc .-icon a i.-insta {
            background-image: url(../../img/sprite/sprite.png);
            background-position: 0px -66px;
            width: 64px;
            height: 64px; }
            .footer3__soc .-icon a i.-insta:hover {
              background-image: url(../../img/sprite/sprite.png);
              background-position: -66px -66px;
              width: 64px;
              height: 64px; }
        .footer3__soc .-icon a:hover {
          transform: scale(1.1); }
  .footer3__partner {
    width: 25%;
    text-align: right; }
    .footer3__partner button {
      padding: 9px 15px;
      color: white;
      text-decoration: none;
      cursor: pointer;
      border-radius: 0;
      display: inline-block;
      max-width: 240px;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      border: 2px solid #ffd600;
      background-color: transparent;
      font-family: 'Proxima nova condensed', sans-serif;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      transition: .2s; }
      .footer3__partner button:hover {
        transform: scale(1.1);
        color: #000;
        background-color: #ffd600; }

@media screen and (max-width: 980px) {
  .footer3 {
    padding: 20px 0; }
    .footer3__line2 {
      display: block; }
    .footer3__line {
      top: 80px; }
    .footer3__soc {
      order: 2;
      width: 50%;
      padding: 0; }
    .footer3__menu {
      order: 3;
      width: 100%;
      padding: 30px 0 40px; }
    .footer3__phone {
      order: 1;
      width: 50%; }
    .footer3__partner {
      order: 5; }
    .footer3__logo {
      padding-left: 0;
      text-align: left;
      order: 4; }
      .footer3__logo .-next {
        text-align: left; }
      .footer3__logo .-conf {
        text-align: left; } }

@media screen and (max-width: 768px) {
  .footer3__line2 {
    bottom: 60px; }
  .footer3__menu {
    flex-direction: column;
    justify-content: center;
    width: 50%; }
  .footer3__partner {
    width: 100%;
    text-align: left; }
    .footer3__partner button {
      font-size: 16px;
      max-width: 270px; }
  .footer3__logo {
    width: 50%; } }

@media screen and (max-width: 500px) {
  .footer3 {
    padding: 20px 0 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .footer3__line2 {
      bottom: 250px; }
    .footer3__line {
      top: 160px; }
    .footer3__soc {
      padding-top: 30px;
      width: 100%;
      text-align: center; }
      .footer3__soc .-icon {
        justify-content: center; }
    .footer3__menu {
      flex-direction: column;
      justify-content: center;
      width: 50%;
      text-align: center; }
    .footer3__phone {
      width: 100%;
      text-align: center; }
    .footer3__partner {
      width: 100%;
      text-align: center; }
      .footer3__partner button {
        font-size: 16px;
        max-width: 270px; }
    .footer3__logo {
      width: 100%;
      text-align: center;
      max-width: 320px;
      margin: auto;
      padding-bottom: 30px; }
      .footer3__logo .-logo {
        padding-bottom: 10px; }
        .footer3__logo .-logo img {
          display: block;
          margin: auto;
          height: 50px;
          margin-bottom: 15px; }
      .footer3__logo .-next {
        text-align: center; }
      .footer3__logo .-conf {
        text-align: center; } }

/*# sourceMappingURL=.maps/footer.css.map */
