a:focus, input:focus, button:focus, textarea:focus, select:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important; }

input, select, textarea {
  line-height: 30px;
  height: 30px;
  border: 1px solid #ccc;
  background: transparent;
  position: relative; }

textarea {
  width: 100%;
  height: 100px;
  line-height: 100%; }

.btn-default {
  height: 40px;
  line-height: 26px;
  margin-top: 40px;
  font-size: 2rem;
  border: 0;
  border-bottom: 4px solid #138faa;
  background-color: #159fbd;
  color: #fff;
  border-radius: 0;
  transition: 0.2s; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

.align-top {
  vertical-align: top; }

.align-mid {
  vertical-align: middle; }

.align-bot {
  vertical-align: bottom; }

.ztable, .zt {
  display: table;
  width: 100%; }
  .ztable-row, .zt-row {
    display: table-row; }
  .ztable-cell, .zt-cell {
    display: table-cell;
    vertical-align: top; }
  .ztable-cell-m, .zt-cell-m {
    display: table-cell;
    vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0; }
  ul li, ol li {
    list-style: none; }

.rel {
  position: relative; }

body {
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.hide {
  display: none; }

.ct, .fd, .fx {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px; }

.fx {
  max-width: 1250px; }

@media (max-width: 480 - 1px) {
  .hid-xxs {
    display: none !important; }
  .vis-xxs {
    display: block !important; } }

@media (max-width: 768 - 1px) and (min-width: 480px) {
  .hid-xs {
    display: none !important;
    content: 'dda'; }
  .vis-xs {
    display: block !important; } }

@media (max-width: 950 - 1px) and (min-width: 768px) {
  .hid-sm {
    display: none !important;
    content: 'dda'; }
  .vis-sm {
    display: block !important; } }

@media (max-width: 1250 - 1px) and (min-width: 950px) {
  .hid-md {
    display: none !important;
    content: 'dda'; }
  .vis-md {
    display: block !important; } }

@media (min-width: 1250px) {
  .hid-lg {
    display: none !important; }
  .vis-lg {
    display: block !important; } }

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon/icomoon.eot?ujf2n6");
  src: url("/fonts/icomoon/icomoon.eot?ujf2n6#iefix") format("embedded-opentype"), url("/fonts/icomoon/icomoon.ttf?ujf2n6") format("truetype"), url("/fonts/icomoon/icomoon.woff?ujf2n6") format("woff"), url("/fonts/icomoon/icomoon.svg?ujf2n6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-mail-envelope-open:before {
  content: "\e900"; }

.icon-chat_bubble:before {
  content: "\e0ca"; }

.icon-personal_video:before {
  content: "\e63b"; }

.icon-phone_iphone:before {
  content: "\e325"; }

.icon-reorder:before {
  content: "\e8fe"; }

.icon-verified_user:before {
  content: "\e8e8"; }

.svg-add, .svg-calendar, .svg-check, .svg-delete, .svg-enter, .svg-logo, .svg-logo-mobile, .svg-menu-actions, .svg-menu-contacts, .svg-menu-main, .svg-menu-paiments, .svg-menu-settings, .svg-reset, .svg-scan {
  background: url("../../svg/sprite.svg") no-repeat; }

.svg-add {
  background-position: 0 100%; }

.svg-add-dims {
  width: 27px;
  height: 27px; }

.svg-calendar {
  background-position: 94.24460431654676% 87.5%; }

.svg-calendar-dims {
  width: 18px;
  height: 18px; }

.svg-check {
  background-position: 68.08510638297872% 87.96296296296296%; }

.svg-check-dims {
  width: 16px;
  height: 14px; }

.svg-delete {
  background-position: 56.737588652482266% 90.47619047619048%; }

.svg-delete-dims {
  width: 16px;
  height: 17px; }

.svg-enter {
  background-position: 0 75.67567567567568%; }

.svg-enter-dims {
  width: 29px;
  height: 11px; }

.svg-logo {
  background-position: 0 0; }

.svg-logo-dims {
  width: 94px;
  height: 84px; }

.svg-logo-mobile {
  background-position: 78.33333333333333% 0; }

.svg-logo-mobile-dims {
  width: 37px;
  height: 45px; }

.svg-menu-actions {
  background-position: 41.221374045801525% 96.93877551020408%; }

.svg-menu-actions-dims {
  width: 26px;
  height: 24px; }

.svg-menu-contacts {
  background-position: 100% 0; }

.svg-menu-contacts-dims {
  width: 26px;
  height: 26px; }

.svg-menu-main {
  background-position: 99.24242424242425% 26.262626262626263%; }

.svg-menu-main-dims {
  width: 25px;
  height: 23px; }

.svg-menu-paiments {
  background-position: 69.62962962962963% 48.38709677419355%; }

.svg-menu-paiments-dims {
  width: 22px;
  height: 29px; }

.svg-menu-settings {
  background-position: 20.76923076923077% 100%; }

.svg-menu-settings-dims {
  width: 27px;
  height: 27px; }

.svg-reset {
  background-position: 97.76119402985074% 68.68686868686869%; }

.svg-reset-dims {
  width: 23px;
  height: 23px; }

.svg-scan {
  background-position: 99.24242424242425% 47.57281553398058%; }

.svg-scan-dims {
  width: 25px;
  height: 19px; }

html {
  font-size: 10px;
  height: 100%; }

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  height: 100%; }

.btn {
  height: 45px;
  display: flex;
  font-size: 1.2rem;
  padding: 0 20px;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: .2s; }
  .btn.-red {
    background: #ed1c24;
    color: #fff; }
    .btn.-red:hover {
      background: #c61017; }

.ovh {
  overflow: hidden; }

.img-responsive {
  display: block;
  max-width: 100%; }

button {
  font-family: "Montserrat"; }

.svg-icon {
  display: inline-block; }

.wramka, .copyright, .dogovor, .dogovor-content {
  padding-left: 6%;
  padding-right: 1.5%; }

.site {
  min-height: 100%;
  display: flex;
  padding-left: 290px; }
  .site__head {
    background: #2f2a34;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 290px; }
  .site__body {
    flex-grow: 1; }
  .site__mob {
    display: none;
    box-shadow: 0 0 10px #ddd; }
    .site__mob .-wrap {
      display: flex;
      align-items: center; }
    .site__mob .-logo {
      width: 40px; }
      .site__mob .-logo a {
        display: flex;
        justify-content: flex-start;
        height: 40px; }
    .site__mob .-right {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      text-align: right;
      justify-content: flex-end;
      align-items: center; }
      .site__mob .-right .-name a {
        display: flex;
        height: 100%;
        text-decoration: none;
        color: #363539;
        font-size: 20px; }
      .site__mob .-right .-bar {
        padding: 15px 10px 15px 20px;
        font-size: 24px;
        height: 100%;
        cursor: pointer;
        color: #f3352f; }

.ovh {
  overflow: hidden; }

.bigmenu {
  height: 100%; }
  .bigmenu__wrap {
    overflow: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative; }
  .bigmenu__head a {
    width: 90px;
    display: flex;
    align-items: flex-start; }
  .bigmenu__head .-close {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #f3352f;
    font-size: 30px;
    display: none;
    font-weight: 300; }
  .bigmenu__head .-mini {
    display: none; }
  .bigmenu__body {
    padding: 20px 0; }
    .bigmenu__body nav {
      display: flex;
      flex-direction: column; }
      .bigmenu__body nav div {
        height: 75px; }
    .bigmenu__body a {
      text-decoration: none;
      font-size: 1.8rem;
      color: #fff;
      height: 100%;
      display: flex;
      align-items: center; }
      .bigmenu__body a:hover {
        color: #00ace6; }
        .bigmenu__body a:hover svg path {
          fill: #00ace6; }
      .bigmenu__body a small {
        width: 20px;
        text-align: center;
        font-size: 2rem;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 20px; }
  .bigmenu__footer .btn {
    width: 79px; }

.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .content__body {
    flex-grow: 1; }
  .content__footer {
    flex-grow: 0;
    flex-shrink: 0; }

.fx {
  margin-left: 0; }

.copyright {
  padding-top: 30px;
  padding-bottom: 60px; }

.dogovor {
  border-bottom: 1px solid #ddd; }
  .dogovor__name {
    padding: 25px 0;
    display: flex;
    color: #515052; }
    .dogovor__name .-name {
      padding-right: 65px; }
    .dogovor__name .-number {
      padding-right: 65px; }
    .dogovor__name .-bot {
      font-size: 1.4rem; }
    .dogovor__name .-top {
      font-size: 2.8rem;
      height: 35px; }
  .dogovor__add {
    padding: 40px 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .dogovor__add .-price {
      flex-grow: 0;
      font-size: 2.8rem;
      color: #363539;
      padding-right: 30px; }
      .dogovor__add .-price span {
        margin-right: 8px; }
    .dogovor__add .-add {
      flex-grow: 0; }
      .dogovor__add .-add .btn {
        font-size: 1.8rem;
        max-width: 140px;
        height: 55px; }
    .dogovor__add .-kvit {
      flex-grow: 1;
      display: flex;
      justify-content: center; }
      .dogovor__add .-kvit a {
        text-decoration: none;
        color: #00ace6;
        transition: .2s;
        display: flex;
        align-items: center; }
        .dogovor__add .-kvit a svg {
          width: 21px;
          margin-right: 10px; }
          .dogovor__add .-kvit a svg path {
            fill: #009bdf; }
        .dogovor__add .-kvit a:hover {
          color: #0086b3; }
    .dogovor__add .-info {
      width: 36%;
      flex-grow: 1;
      color: #b6b6b6;
      line-height: 1.4; }

.dogovor-content {
  color: #363539;
  padding-top: 50px;
  padding-bottom: 50px; }
  .dogovor-content__table {
    width: 100%;
    border: none; }
    .dogovor-content__table td {
      padding-top: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid #e2e2e2; }
    .dogovor-content__table th {
      text-align: left;
      font-weight: normal;
      font-size: 14px; }
  .dogovor-content__num {
    font-size: 20px;
    line-height: 1.4;
    width: 10%; }
  .dogovor-content__name {
    font-size: 20px;
    line-height: 1.4;
    width: 50%;
    padding-right: 20px; }
  .dogovor-content__plata {
    width: 20%;
    line-height: 1.4; }
    .dogovor-content__plata span {
      font-size: 20px; }
    .dogovor-content__plata small {
      font-size: 12px;
      padding-left: 10px;
      display: none; }
  .dogovor-content__filter {
    width: 20%; }
    .dogovor-content__filter button {
      cursor: pointer;
      display: flex;
      align-items: center;
      color: #00ace6;
      background: transparent; }
      .dogovor-content__filter button span {
        margin-left: 10px; }

.login-page {
  background: #2f2a34 url("/img/strela.png") right top no-repeat; }
  .login-page__fx {
    margin-left: auto; }
  .login-page__wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    position: relative; }
  .login-page__form {
    display: flex;
    justify-content: center;
    padding-left: 4%; }
    .login-page__form > form {
      display: flex;
      height: 100%;
      position: relative;
      flex-direction: column;
      justify-content: space-between;
      max-width: 280px; }
      .login-page__form > form label span {
        white-space: nowrap;
        color: #fff;
        font-size: 16px;
        line-height: 1.4; }
      .login-page__form > form label input {
        margin-top: 14px;
        width: 100%;
        padding: 0 18px;
        font-size: 16px;
        color: #fff;
        height: 55px;
        line-height: 55px;
        background-color: rgba(34, 30, 38, 0.8); }
      .login-page__form > form div {
        position: absolute;
        top: 100%;
        width: 100%;
        padding-top: 40px; }
        .login-page__form > form div button {
          cursor: pointer;
          background: #ed1c24;
          height: 50px;
          padding: 0 20px;
          color: #fff;
          display: flex;
          font-size: 18px;
          transition: .2s;
          align-items: center; }
          .login-page__form > form div button svg {
            width: 30px;
            margin-left: 15px; }
          .login-page__form > form div button:hover {
            background: #c61017; }
  .login-page__logo {
    display: flex;
    align-items: center; }
    .login-page__logo .-i {
      display: block;
      width: 100px; }
    .login-page__logo .-p {
      padding-left: 130px; }
    .login-page__logo a {
      white-space: nowrap;
      color: #fff;
      text-decoration: none;
      font-size: 25px;
      font-weight: 300; }
  .login-page__top {
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    display: flex;
    padding-bottom: 40px; }
  .login-page__title {
    font-size: 55px;
    font-weight: 800;
    color: #fff;
    line-height: 1.2;
    display: flex;
    text-transform: uppercase;
    align-items: center; }
  .login-page__phone {
    display: none; }
    .login-page__phone a {
      color: #fff;
      text-decoration: none;
      font-size: 25px;
      font-weight: 300; }
  .login-page__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10%; }
    .login-page__links a {
      white-space: nowrap;
      border-bottom: 1px solid #00ace6;
      padding: 4px 0;
      color: #00ace6;
      display: inline-block;
      text-decoration: none; }
      .login-page__links a:hover {
        border-color: transparent; }
    .login-page__links .-top div {
      margin-bottom: 25px; }
  .login-page__www {
    display: flex;
    padding-bottom: 110px; }
    .login-page__www > * {
      width: 33.3%; }
  .login-page__center {
    flex-grow: 2;
    flex-shrink: 2; }

@media screen and (max-width: 1400px) {
  .dogovor-content__table td {
    padding-top: 30px;
    padding-bottom: 30px; }
  .dogovor-content__name {
    font-size: 18px; }
  .dogovor-content__plata span {
    font-size: 18px; }
  .dogovor-content__num {
    font-size: 18px; } }

@media screen and (max-width: 1200px) {
  .bigmenu__head .-close {
    display: block; }
  .site {
    padding-left: 0;
    flex-direction: column; }
    .site__head {
      display: none;
      width: 100%; }
      .site__head.-open {
        display: block; }
    .site__mob {
      display: block; }
  .bigmenu__body nav div {
    height: 70px; }
  .bigmenu__wrap {
    width: 100%;
    align-items: center; }
  .content__body {
    padding-top: 20px; }
  .dogovor__add {
    padding-top: 30px; }
  .dogovor__name .-name {
    display: none; }
  .dogovor-content__table td {
    padding-top: 40px;
    padding-bottom: 40px; }
  .dogovor-content__name {
    font-size: 20px; }
  .dogovor-content__plata span {
    font-size: 20px; }
  .dogovor-content__num {
    font-size: 20px; }
  .wramka, .copyright, .dogovor, .dogovor-content {
    padding-left: 3%;
    padding-right: 3%; }
  .copyright {
    padding-bottom: 40px; }
  .login-page__form > form label span {
    display: block;
    padding: 15px 0 0; }
  .login-page__links {
    padding-left: 6%; }
  .login-page__title {
    font-size: 45px;
    line-height: 1.4; } }

@media screen and (max-width: 950px) {
  .site__head {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none; }
  .dogovor__name .-top {
    font-size: 2.4rem; }
  .dogovor__add {
    padding: 50px 0;
    position: relative; }
    .dogovor__add .-info {
      padding-left: 30px; }
    .dogovor__add .-kvit {
      position: absolute;
      left: 0;
      top: 10px; }
  .dogovor-content__table td {
    padding-top: 30px;
    padding-bottom: 30px; }
  .dogovor-content__name {
    font-size: 18px; }
  .dogovor-content__plata span {
    font-size: 18px; }
  .dogovor-content__num {
    font-size: 18px; }
  .copyright {
    padding: 60px 0 30px; }
  .login-page__title {
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px; }
  .login-page__top {
    justify-content: center; }
  .login-page__form {
    width: 50%; }
    .login-page__form > form label span {
      display: block;
      padding: 0; }
  .login-page__www {
    flex-wrap: wrap; }
  .login-page__links {
    width: 50%; } }

@media screen and (max-width: 768px) {
  .site__mob {
    padding-top: 7px;
    box-shadow: none; }
    .site__mob .fx {
      padding-right: 0; }
    .site__mob .-right .-bar {
      font-size: 20px;
      padding-right: 20px; }
    .site__mob .-right .-name a {
      font-size: 14px; }
  .content__body {
    padding-top: 0; }
  .wramka, .copyright, .dogovor, .dogovor-content {
    padding-left: 0;
    padding-right: 0; }
  .dogovor__add {
    padding: 20px 0 40px;
    flex-wrap: wrap; }
    .dogovor__add .-add {
      flex-grow: 1; }
      .dogovor__add .-add .btn {
        height: 50px;
        font-size: 14px; }
    .dogovor__add .-kvit {
      position: initial;
      justify-content: flex-start;
      width: 100%;
      padding: 30px 0; }
    .dogovor__add .-info {
      width: 100%;
      padding: 0;
      font-size: 12px; }
  .dogovor__name {
    display: flex;
    padding: 20px 0;
    max-width: 350px; }
    .dogovor__name > * {
      width: 50%; }
    .dogovor__name .-number {
      padding: 0; }
    .dogovor__name .-bot {
      font-size: 12px; }
    .dogovor__name .-top {
      height: 28px;
      font-size: 20px; }
  .dogovor-content {
    padding: 0; }
    .dogovor-content .fx {
      padding: 0; }
    .dogovor-content__table td {
      padding: 0;
      border-bottom: none; }
    .dogovor-content__table tr {
      position: relative;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #e2e2e2;
      padding: 25px 20px 25px 50px; }
      .dogovor-content__table tr:first-child {
        display: none; }
    .dogovor-content__name {
      font-size: 16px;
      width: 100%; }
    .dogovor-content__filter {
      width: 100%;
      padding-top: 15px; }
    .dogovor-content__plata {
      padding: 20px 0 !important;
      width: 100%;
      display: flex;
      align-items: center; }
      .dogovor-content__plata span {
        font-size: 20px; }
      .dogovor-content__plata small {
        display: block; }
    .dogovor-content__num {
      font-size: 20px;
      position: absolute;
      left: 20px;
      top: 23px; }
  .copyright {
    padding: 60px 0 30px; }
  .bigmenu__body {
    padding: 40px 0; }
    .bigmenu__body nav div {
      height: 60px; }
  .bigmenu__wrap {
    align-items: flex-start;
    padding: 20px; }
  .bigmenu__head a {
    display: none; }
  .bigmenu__head .-close {
    right: 25px;
    font-size: 25px;
    top: 20px; }
  .bigmenu__head .-mini {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    width: 120px; }
  .login-page {
    background-size: 85%; }
    .login-page__title {
      font-size: 30px; } }

@media screen and (max-width: 550px) {
  .login-page {
    background-size: 125%;
    background-position-x: 70px; }
    .login-page__logo .-p {
      display: none; }
    .login-page__title {
      font-size: 26px;
      padding-bottom: 20px; }
      .login-page__title br {
        display: none; }
    .login-page__phone {
      position: relative;
      display: block;
      font-size: 25px;
      width: 100%;
      text-align: center;
      overflow: hidden;
      padding: 20px 0 40px;
      margin-top: 40px; }
      .login-page__phone:after {
        content: '';
        display: block;
        height: 1px;
        top: 0;
        left: -50px;
        right: -50px;
        background-color: rgba(226, 226, 226, 0.1);
        position: absolute; }
    .login-page__links {
      width: 100%;
      padding: 0; }
      .login-page__links a {
        font-size: 14px; }
      .login-page__links > * {
        display: flex;
        align-items: center;
        flex-direction: column; }
    .login-page__www {
      padding-bottom: 40px; }
    .login-page__form {
      width: 100%; }
      .login-page__form > form {
        max-width: 350px;
        width: 100%; }
        .login-page__form > form label span {
          font-size: 14px;
          padding-top: 15px; }
        .login-page__form > form div {
          position: initial; }
          .login-page__form > form div button {
            margin: auto; } }

/*# sourceMappingURL=.maps/index.css.map */
