body{margin:0;}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
//——————————————————————————————————————————————
//——————————————————— OPTIONS ——————————————————————
//——————————————————————————————————————————————
$ed: 1px;
$container-indent: 'i';
$offset_name: 'o';
$push_name: 'ph';
$pull_name: 'pl';
$row: 'row';
$col: 'col';
$vvv: 'vvv';
$row_vertical: 'vv';
$vertical: 'v';
$d--0: '-';
$d--1: '';
$gutter_name: 'g';
$container: 'ct';
//$container_fluid: 'fluid';    //оригинал
//$container_fixed: 'fx';
$container_fluid: 'fd';
$container_fixed: 'fx';
$BP: (
        xxs:0 320,    //xxs перешелкивается = будет размер
        xs:480 480,     //xs
        sm:768 768,     //sm
        md:950 950,   //md
        lg:1250 1250,   //lg
);
$gutters: 20,0,10,30,40;           //отступы между колонками (первый default)
$rows: 0,10;             //отступы по кроям row (первый default)
$column: 24;                //кол-во колонок
$column_count: length($column); //типо если будут 2 сетки!
$indents: 15, 20, 10,0;        //для container

//——————————————————————————————————————————————
//——————————————————— ENGINE ——————————————————————
//——————————————————————————————————————————————

.hide{
    display: none;
}

//Значения по умолчанию
$gut: nth($gutters,1);
$gut2: $gut/2;

//==========================>прописали [container]
.#{$container},.#{$container_fluid},.#{$container_fixed}{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: nth($indents,1)*$ed;
    padding-right: nth($indents,1)*$ed;
    min-width: nth(nth(nth($BP,1),2),2)*$ed;
}
.#{$container_fixed}{
    max-width: nth(nth(nth($BP,length($BP)),2),2)*$ed;
}


//Теперь расписываем по поинтам vis-* + hid-*
$kk:2;
@each $BP-key, $BP-val in $BP{
    $checkPoint: nth($BP-val, 1); //320
    @if($BP-key==nth(nth($BP,1),1)){        //первый поинт
        $nextElement: nth(nth(nth($BP,$kk),2),1);     //следующий поинт
        @media (max-width: #{$nextElement}-1px){
            .hid-#{$BP-key} {
                display: none !important;
            }
            .vis-#{$BP-key}{
                display: block !important
            }
        }
    }@elseif($BP-key==nth(nth($BP,length($BP)),1)){ //последний поинт
        @media (min-width: #{$checkPoint}px){
            .hid-#{$BP-key} {
                display: none !important;
            }
            .vis-#{$BP-key}{
                display: block !important
            }
        }

    }@else{
        $nextElement: nth(nth(nth($BP,$kk),2),1);     //следующий поинт
        @media (max-width: #{$nextElement}-1px) and (min-width: #{$checkPoint}px){
            .hid-#{$BP-key} {
                display: none !important;
                content: 'dda';
            }
            .vis-#{$BP-key}{
                display: block !important
            }
        }
    }
    $kk: $kk+1;
}
//.vis-xxs,.vis-xs, .vis-sm, .vis-md, .vis-lg, .vis-lgg{
//    display: none !important
//}
//@media (max-width: 479px){
//    .hid-xxs {
//        display: none !important;
//    }
//    .vis-xxs{
//        display: block !important
//    }
//}
//@media (max-width: 767px) and (min-width: 480px){
//    .hid-xs {
//        display: none !important;
//    }
//    .vis-xs{
//        display: block !important
//    }
//}
//@media (max-width: 949px) and (min-width: 768px){
//    .hid-sm {
//        display: none !important;
//    }
//    .vis-sm{
//        display: block !important
//    }
//}
//@media (max-width: 1139px) and (min-width: 950px){
//    .hid-md {
//        display: none !important;
//    }
//    .vis-md{
//        display: block !important
//    }
//}
//@media (max-width: 1239px) and (min-width: 1140px){
//    .hid-lg {
//        display: none !important;
//    }
//    .vis-lg{
//        display: block !important
//    }
//}
//@media (min-width: 1240px){
//    .hid-lgg {
//        display: none !important;
//    }
//    .vis-lgg{
//        display: block !important
//    }
//}



