%svg-common {
	background: url("../../svg/sprite.svg") no-repeat;
}

.svg-add {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-add-dims {
	width: 27px;
	height: 27px;
}

.svg-calendar {
	@extend %svg-common;
	background-position: 94.24460431654676% 87.5%;
}

.svg-calendar-dims {
	width: 18px;
	height: 18px;
}

.svg-check {
	@extend %svg-common;
	background-position: 68.08510638297872% 87.96296296296296%;
}

.svg-check-dims {
	width: 16px;
	height: 14px;
}

.svg-delete {
	@extend %svg-common;
	background-position: 56.737588652482266% 90.47619047619048%;
}

.svg-delete-dims {
	width: 16px;
	height: 17px;
}

.svg-enter {
	@extend %svg-common;
	background-position: 0 75.67567567567568%;
}

.svg-enter-dims {
	width: 29px;
	height: 11px;
}

.svg-logo {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-logo-dims {
	width: 94px;
	height: 84px;
}

.svg-logo-mobile {
	@extend %svg-common;
	background-position: 78.33333333333333% 0;
}

.svg-logo-mobile-dims {
	width: 37px;
	height: 45px;
}

.svg-menu-actions {
	@extend %svg-common;
	background-position: 41.221374045801525% 96.93877551020408%;
}

.svg-menu-actions-dims {
	width: 26px;
	height: 24px;
}

.svg-menu-contacts {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-menu-contacts-dims {
	width: 26px;
	height: 26px;
}

.svg-menu-main {
	@extend %svg-common;
	background-position: 99.24242424242425% 26.262626262626263%;
}

.svg-menu-main-dims {
	width: 25px;
	height: 23px;
}

.svg-menu-paiments {
	@extend %svg-common;
	background-position: 69.62962962962963% 48.38709677419355%;
}

.svg-menu-paiments-dims {
	width: 22px;
	height: 29px;
}

.svg-menu-settings {
	@extend %svg-common;
	background-position: 20.76923076923077% 100%;
}

.svg-menu-settings-dims {
	width: 27px;
	height: 27px;
}

.svg-reset {
	@extend %svg-common;
	background-position: 97.76119402985074% 68.68686868686869%;
}

.svg-reset-dims {
	width: 23px;
	height: 23px;
}

.svg-scan {
	@extend %svg-common;
	background-position: 99.24242424242425% 47.57281553398058%;
}

.svg-scan-dims {
	width: 25px;
	height: 19px;
}

