// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$krug-name: 'krug';
$krug-x: 76px;
$krug-y: 371px;
$krug-offset-x: -76px;
$krug-offset-y: -371px;
$krug-width: 59px;
$krug-height: 59px;
$krug-total-width: 521px;
$krug-total-height: 442px;
$krug-image: '../../img/sprite/sprite.png';
$krug: (76px, 371px, -76px, -371px, 59px, 59px, 521px, 442px, '../../img/sprite/sprite.png', 'krug', );
$podarok-name: 'podarok';
$podarok-x: 0px;
$podarok-y: 0px;
$podarok-offset-x: 0px;
$podarok-offset-y: 0px;
$podarok-width: 291px;
$podarok-height: 130px;
$podarok-total-width: 521px;
$podarok-total-height: 442px;
$podarok-image: '../../img/sprite/sprite.png';
$podarok: (0px, 0px, 0px, 0px, 291px, 130px, 521px, 442px, '../../img/sprite/sprite.png', 'podarok', );
$sertificat-name: 'sertificat';
$sertificat-x: 422px;
$sertificat-y: 202px;
$sertificat-offset-x: -422px;
$sertificat-offset-y: -202px;
$sertificat-width: 87px;
$sertificat-height: 89px;
$sertificat-total-width: 521px;
$sertificat-total-height: 442px;
$sertificat-image: '../../img/sprite/sprite.png';
$sertificat: (422px, 202px, -422px, -202px, 87px, 89px, 521px, 442px, '../../img/sprite/sprite.png', 'sertificat', );
$tree1-name: 'tree1';
$tree1-x: 422px;
$tree1-y: 293px;
$tree1-offset-x: -422px;
$tree1-offset-y: -293px;
$tree1-width: 85px;
$tree1-height: 72px;
$tree1-total-width: 521px;
$tree1-total-height: 442px;
$tree1-image: '../../img/sprite/sprite.png';
$tree1: (422px, 293px, -422px, -293px, 85px, 72px, 521px, 442px, '../../img/sprite/sprite.png', 'tree1', );
$tree10-name: 'tree10';
$tree10-x: 0px;
$tree10-y: 132px;
$tree10-offset-x: 0px;
$tree10-offset-y: -132px;
$tree10-width: 173px;
$tree10-height: 172px;
$tree10-total-width: 521px;
$tree10-total-height: 442px;
$tree10-image: '../../img/sprite/sprite.png';
$tree10: (0px, 132px, 0px, -132px, 173px, 172px, 521px, 442px, '../../img/sprite/sprite.png', 'tree10', );
$tree11-name: 'tree11';
$tree11-x: 0px;
$tree11-y: 306px;
$tree11-offset-x: 0px;
$tree11-offset-y: -306px;
$tree11-width: 195px;
$tree11-height: 63px;
$tree11-total-width: 521px;
$tree11-total-height: 442px;
$tree11-image: '../../img/sprite/sprite.png';
$tree11: (0px, 306px, 0px, -306px, 195px, 63px, 521px, 442px, '../../img/sprite/sprite.png', 'tree11', );
$tree2-name: 'tree2';
$tree2-x: 293px;
$tree2-y: 0px;
$tree2-offset-x: -293px;
$tree2-offset-y: 0px;
$tree2-width: 127px;
$tree2-height: 124px;
$tree2-total-width: 521px;
$tree2-total-height: 442px;
$tree2-image: '../../img/sprite/sprite.png';
$tree2: (293px, 0px, -293px, 0px, 127px, 124px, 521px, 442px, '../../img/sprite/sprite.png', 'tree2', );
$tree3-name: 'tree3';
$tree3-x: 197px;
$tree3-y: 306px;
$tree3-offset-x: -197px;
$tree3-offset-y: -306px;
$tree3-width: 68px;
$tree3-height: 56px;
$tree3-total-width: 521px;
$tree3-total-height: 442px;
$tree3-image: '../../img/sprite/sprite.png';
$tree3: (197px, 306px, -197px, -306px, 68px, 56px, 521px, 442px, '../../img/sprite/sprite.png', 'tree3', );
$tree4-name: 'tree4';
$tree4-x: 422px;
$tree4-y: 0px;
$tree4-offset-x: -422px;
$tree4-offset-y: 0px;
$tree4-width: 99px;
$tree4-height: 99px;
$tree4-total-width: 521px;
$tree4-total-height: 442px;
$tree4-image: '../../img/sprite/sprite.png';
$tree4: (422px, 0px, -422px, 0px, 99px, 99px, 521px, 442px, '../../img/sprite/sprite.png', 'tree4', );
$tree5-name: 'tree5';
$tree5-x: 422px;
$tree5-y: 101px;
$tree5-offset-x: -422px;
$tree5-offset-y: -101px;
$tree5-width: 99px;
$tree5-height: 99px;
$tree5-total-width: 521px;
$tree5-total-height: 442px;
$tree5-image: '../../img/sprite/sprite.png';
$tree5: (422px, 101px, -422px, -101px, 99px, 99px, 521px, 442px, '../../img/sprite/sprite.png', 'tree5', );
$tree6-name: 'tree6';
$tree6-x: 293px;
$tree6-y: 126px;
$tree6-offset-x: -293px;
$tree6-offset-y: -126px;
$tree6-width: 124px;
$tree6-height: 125px;
$tree6-total-width: 521px;
$tree6-total-height: 442px;
$tree6-image: '../../img/sprite/sprite.png';
$tree6: (293px, 126px, -293px, -126px, 124px, 125px, 521px, 442px, '../../img/sprite/sprite.png', 'tree6', );
$tree7-name: 'tree7';
$tree7-x: 0px;
$tree7-y: 371px;
$tree7-offset-x: 0px;
$tree7-offset-y: -371px;
$tree7-width: 74px;
$tree7-height: 71px;
$tree7-total-width: 521px;
$tree7-total-height: 442px;
$tree7-image: '../../img/sprite/sprite.png';
$tree7: (0px, 371px, 0px, -371px, 74px, 71px, 521px, 442px, '../../img/sprite/sprite.png', 'tree7', );
$tree8-name: 'tree8';
$tree8-x: 175px;
$tree8-y: 132px;
$tree8-offset-x: -175px;
$tree8-offset-y: -132px;
$tree8-width: 116px;
$tree8-height: 121px;
$tree8-total-width: 521px;
$tree8-total-height: 442px;
$tree8-image: '../../img/sprite/sprite.png';
$tree8: (175px, 132px, -175px, -132px, 116px, 121px, 521px, 442px, '../../img/sprite/sprite.png', 'tree8', );
$tree9-name: 'tree9';
$tree9-x: 267px;
$tree9-y: 306px;
$tree9-offset-x: -267px;
$tree9-offset-y: -306px;
$tree9-width: 56px;
$tree9-height: 55px;
$tree9-total-width: 521px;
$tree9-total-height: 442px;
$tree9-image: '../../img/sprite/sprite.png';
$tree9: (267px, 306px, -267px, -306px, 56px, 55px, 521px, 442px, '../../img/sprite/sprite.png', 'tree9', );
$spritesheet-width: 521px;
$spritesheet-height: 442px;
$spritesheet-image: '../../img/sprite/sprite.png';
$spritesheet-sprites: ($krug, $podarok, $sertificat, $tree1, $tree10, $tree11, $tree2, $tree3, $tree4, $tree5, $tree6, $tree7, $tree8, $tree9, );
$spritesheet: (521px, 442px, '../../img/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
