﻿
.box-info-prod{
    &__wrap{
        display: flex;
        flex-direction: column;
        padding-right: 50%;
        position: relative;
    }
    &__left{}
    &__right{}
    &__title{
        h1{
            margin-bottom: 0px;
            font-family: 'Proxima nova condensed', sans-serif;
            color: #000;
            font-size: 30px;
            line-height: 34px;
            text-transform: uppercase;
            word-wrap: break-word;
        }
    }
    &__images{
        width: 50%;
        position: absolute;
        right: 0;
        top: 0;
    }
    &__btn{
        & button{
            max-width: 350px;
            margin: auto;
            width: 100%;
            font-size: 16px;
            margin-top: 20px;
            background-color: #ffd600;
            color: #000;
            font-weight: bold;
            padding: 13px;
        }
    }
    &__trigers{
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
        & .-item{
            max-width: 30%;
            text-align: center;
        }
        & a{
            color: #333;
            display: inline-block;
            &:hover{
                text-decoration: none;
            }
            & img{
                margin: auto;
                height: 70px;
            }
            & div{
                padding-top: 10px;
            }
        }
    }
}
@media screen and (max-width: 768px) {

    .box-info-prod{
        &__wrap{
            display: flex;
            padding: 0;
        }
        &__images{
            position: initial;
            width: 100%;
        }
        &__trigers{
            & a{
                font-size: 14px;
                & div{
                    padding-top: 5px;
                }
            }
        }
    }
}
