﻿//@import "slick";
//@import "normalize";
//@import "base";
@import "zlib/zgrid";
//@import "ui-slider";
//@import "icomoon/icon";
//@import "css/sprite";
@import "img/sprite";
//@import "sprite/css/sprite";


$color_orange: #ffcc00;

html{
    font-size: 10px;
}
body{
    font-size: 1.5rem;
    background: url("/img/fon.png?1") center top;
}
.img-responsive {
    display: block;
    max-width: 100%;
}

.pagination{
    background: rgba(#777,.2);
    &__wrap{
        height: 50px;
        display: flex;
        align-items: center;
    }
}


//заменить
.imenu__main__wrap {
    padding: 0;
    height: 70px;
}
//заменить


.page1{
    padding-bottom: 20px;
    &__wrap{
        padding: 30px 0px;
        position: relative;
        display: flex;
        border-bottom: 1px solid $color_orange;
        align-items: flex-end;
        &:before{
            content: '';
            height: 3px;
            bottom: 0;
            left: 0;
            width: 100px;
            background: $color_orange;
            position: absolute;
        }
    }
    &__dop{
        flex-grow: 1;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        & button{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            cursor: pointer;
            height: 50px;
            font-size: 25px;
            background: transparent;
            margin-left: 20px;
            border-radius: 5px;
            background: #fff;
            box-shadow: 0 0 10px rgba(#000,.2);
            &:hover{
                background: #fff;
                box-shadow: 0 0 10px rgba(#000,.3);
            }
            & span{
                padding-left: 15px;
                display: inline-block;
                font-size: 18px;
            }
        }
    }
    &__h1{
        padding-right: 40px;
        & h1{
            font-size: 3.5rem;
        }
        & .-predop{
            color: #555;
            font-size: 18px;
            padding-top: 15px;
        }
    }
}
.filter{
    margin:  10px 0 0;
    //display: none;
    &__wrap{
        & li{
            padding: 10px 15px;
            border-radius: 5px;
            border: 1px solid $color_orange;
            display: inline-block;
            margin-right: 10px;
            cursor: pointer;
            background: #fff;
            margin-top: 10px;
            & i{
                font-size: 20px;
                margin-right: 10px;
            }
            &:hover{
                background: $color_orange;
                color: #000;
            }
        }
    }
}
.catalog3{
    &__wrap{
        display: flex;
        flex-wrap: wrap;
        & > *{
            //&:nth-child(3n+1){
            //    padding-right: 10px;
            //}
            //&:nth-child(3n+2){
            //    padding: 0 10px;
            //}
            //&:nth-child(3n+3){
            //    padding-left: 10px;
            //}
            &:nth-child(2n+1){
                padding-right: 20px;
            }
            &:nth-child(2n+2){
                padding-left: 20px;
            }
        }
    }
    &__item{
        width: 33.3%;
        width: 50%;
        margin-bottom: 40px;
        & .-wrap{
            display: flex;
            flex-direction: column;
            background: #fff;
            height: 100%;
        }
        & .-img{
            position: relative;
            & a{
                cursor: pointer;
                display: block;
                position: relative;
                text-decoration: none;
                & img{
                    transition: .2s;
                }
                &:hover{
                    & img{
                        opacity: .9;
                    }
                }
            }
            & .-title{
                background: rgb(255, 204, 0);
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                display: flex;
                height: 75px;
                align-items: center;
                & span{
                    color: #000;
                    font-weight: bold;
                    display: block;
                    padding: 0 30px;
                    font-size: 18px;
                    line-height: 1.4;
                }
            }
        }
        & .-info{
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 20px 0;
        }
        & .-prop{
            padding-bottom: 10px;
            height: 100%;
            background: rgba(#fff,.6);
            color: #fff;
            & .-www{
                padding: 0;
                margin: 0;
                & li{
                    background: rgba(#000,.6);
                    display: inline-block;
                    margin-right: 5px;
                    padding: 8px 10px;
                    margin-bottom: 10px;
                    border-radius: 3px;
                    & i{
                        margin-right: 15px;
                    }
                }
            }
        }
        & .-desc{
            flex-grow: 1;
            font-size: 16px;
            line-height: 1.4;
        }
        & .-dops{
            padding: 0 0 20px;
            & .-www{
                //border-top: 1px solid #ddd;
                //padding-top: 20px;
                display: flex;
                & > *{
                    width: 100%;
                    background: #ddd;
                    color: #000;
                }
                & .-zakaz{
                    & a{
                        background: $color_orange;
                        font-weight: bold;
                    }
                }
                & a{
                    font-weight: bold;
                    text-decoration: none;
                    background: #fff;
                    color: #333;
                    box-shadow: 0 0px 3px rgba(51, 51, 51, 0.35);
                    &:hover{
                        box-shadow: 0 0px 10px rgba(51, 51, 51, 0.5);
                    }
                }
            }
        }
    }
}

$otstup_wrap: 10px;
$otstup: 15px;
.karto4ka{
    &__wrap{
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    &__www{
        & .-wrap{
            height: 100%;
            border-radius: 10px;
        }
    }
    &__img{
        width: 60%;
        padding-right: $otstup_wrap;
        @extend .karto4ka__www;
        & .-big{
            & img{
                transition: .2s;
                &:hover{
                    cursor: pointer;
                    opacity: .8;
                }
            }
        }
        & .-wrap{
            padding: 0;
        }
        & .-small{
            display: flex;
            & > *{
                padding-right: $otstup;
                //&:nth-child(5n+5){
                //    padding-left: 10px;
                //    padding-right: 0;
                //}
                //&:nth-child(5n+1){
                //    padding-right: 10px;
                //    padding-left: 0;
                //}
            }
            & .-item{
                width: 20%;
                & img{
                    border: 2px solid transparent;
                    transition: .2s;
                    -webkit-filter: grayscale(100%);
                    -moz-filter: grayscale(100%);
                    -ms-filter: grayscale(100%);
                    -o-filter: grayscale(100%);
                    filter: grayscale(100%);
                    filter: gray; /* IE 6-9 */
                    &:hover{
                        cursor: pointer;
                        -webkit-filter: none;
                        -moz-filter: none;
                        -ms-filter: none;
                        -o-filter: none;
                        filter: none;
                        filter: none; /* IE 6-9 */
                    }
                }
                &.-active{
                    & img{
                        border-color: $color_orange;
                        -webkit-filter: none;
                        -moz-filter: none;
                        -ms-filter: none;
                        -o-filter: none;
                        filter: none;
                        filter: none; /* IE 6-9 */
                    }
                }
            }
        }
        & .-www{
            margin: auto;
        }
        & .owl-dots{
            display: none;
        }
        & .owl-nav{
            position: absolute;
            top: 50%;
            bottom: 0;
            height: 0px;
            display: flex !important;
            align-items: center;
            justify-content: space-between;
            z-index: 10;
            left: -40px;
            right: -40px;
            & button{
                color: #fff;
                font-size: 2rem;
                border-radius: 50px;
                &.owl-prev{
                    right: -20px;
                    position: relative;
                }
                &.owl-next{
                    left: -25px;
                    position: relative;
                }
                & div{
                    padding: 10px;
                    transition: .2s;
                    color: #fff;
                    width: 40px;
                    height: 40px;
                    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
                    background: $color_orange;
                    border-radius: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.5rem;
                    position: relative;
                    opacity: 1;
                    &:hover{
                        background: lighten($color_orange,10%);
                    }
                }
            }
        }
    }
    &__color{
        width: 40%;
        padding-left: $otstup_wrap;
        @extend .karto4ka__www;
        & .-www{
            padding: 20px 20px 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            & .-price{
                background: #fff;
                margin-top: 20px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                border: 2px dashed #aaa;
                padding: 20px;
                //max-width: 400px;
                & .-ram{
                    max-width: 270px;
                    margin: auto;
                    & strong{
                        font-size: 2rem;
                    }
                    & div{
                        padding: 15px 0;
                        font-size: 2.2rem;
                        & b{
                            color: red;
                            font-size: 3rem;
                        }
                    }
                    & small{
                        font-size: 1.5rem;
                        padding: 10px 0;
                        color: #777;
                    }
                }
            }
            & .-desc{
                font-size: 1.8rem;
                line-height: 1.4;
            }
        }
    }
    &__komplect{
        width: 100%;
        margin: 60px 0 0;
        @extend .karto4ka__www;
        & .-title{
            font-weight: bold;
            font-size: 2.4rem;
            padding: 10px 20px;
            text-align: center;
            background: $color_orange;
        }
        & .-www{
            max-width: 700px;
        }
        & .-list{
            padding-top: 20px;
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            z-index: 10;
            justify-content: space-between;
            & .-item{
                display: flex;
                align-items: center;
                position: relative;
                font-size: 1.6rem;
                margin-bottom: 20px;
                width: 33%;
                padding-left: 0px;
                & img{
                    margin-right: 15px;
                    position: relative;
                    top: 3px;
                }
            }
        }
    }
    &__properties{
        width: 100%;
        padding-top: $otstup_wrap*2;
        //max-width: 700px;
        @extend .karto4ka__www;
        & .-wrap{
            padding: 0;
        }
        & .-www{
            //max-width: 1020px;
            & dl{}
            & dt{
                padding-top: 10px;
                border-bottom: 1px solid #ddd;
                & ul{
                    display: flex;
                    flex-wrap: wrap;
                    & li{
                        display: block;
                        padding-right: 30px;
                        &:last-child{
                            padding-right: 0;
                        }
                    }
                }
                & button{
                    cursor: pointer;
                    font-weight: bold;
                    font-size: 1.8rem;
                    position: relative;
                    display: flex;
                    height: 55px;
                    justify-content: center;
                    align-items: center;
                    transition: .2s;
                    background: transparent;
                    &:hover,&.-active{
                        &:before{
                            opacity: 1;
                        }
                    }
                    &:before{
                        transition: .2s;
                        opacity: 0;
                        display: block;
                        left: 0;
                        content: '';
                        height: 5px;
                        background: $color_orange;
                        position: absolute;
                        width: 100%;
                        bottom: -1px;
                    }
                }
            }
            & dd{
                padding-top: 30px;
                font-size: 1.6rem;
                & > *{
                    display: none;
                    max-width: 700px;
                    &.-active{
                        display: block !important;
                    }
                }
                & p{
                    margin-bottom: 20px;
                    line-height: 1.4;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px){
}
@media screen and (max-width: 1110px){
}
@media screen and (max-width: 950px){
}
@media screen and (max-width: 768px){
}
@media screen and (max-width: 550px){
}
@media screen and (max-width: 480px){}
