﻿//@import "slick";
//@import "normalize";
@import "base";
@import "zlib/zgrid";
//@import "ui-slider";
@import "icomoon/icon";
@import "css/sprite";
@import "img/sprite";
//@import "sprite/css/sprite";


//$font: 'ProximaNovaCond';
$font: "Montserrat";

$bg_back: #363539;
$bg_red: #ed1c24;
$bg_blue: #00ace6;

html{
    font-size: 10px;
    height: 100%;
}
body{
    font-family: $font, Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    height: 100%;
}
.btn{
    height: 45px;
    display: flex;
    font-size: 1.2rem;
    padding: 0 20px;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: .2s;
    &.-red{
        background: $bg_red;
        color: #fff;
        &:hover{
            background: darken($bg_red,10%);
        }
    }
}
.ovh{
    overflow: hidden;
}
.img-responsive {
    display: block;
    max-width: 100%;
}

button{
    font-family: $font;
}

.svg-icon{
    display: inline-block;
}

$menu_w: 290px;
.wramka{
    padding-left: 6%;
    padding-right: 1.5%;
}
.site{
    min-height: 100%;
    display: flex;
    padding-left: $menu_w;
    &__head{
        background: #2f2a34;
        z-index: 100;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: $menu_w;
    }
    &__body{
        flex-grow: 1;
    }
    &__mob{
        display: none;
        box-shadow: 0 0 10px #ddd;
        & .-wrap{
            display: flex;
            align-items: center;
        }
        & .-logo{
            width: 40px;
            & a{
                display: flex;
                justify-content: flex-start;
                height: 40px;
            }
        }
        & .-right{
            flex-grow: 1;
            flex-shrink: 1;
            display: flex;
            text-align: right;
            justify-content: flex-end;
            align-items: center;
            & .-name{
                & a{
                    display: flex;
                    height: 100%;
                    text-decoration: none;
                    color: $bg_back;
                    font-size: 20px;
                }
            }
            & .-bar{
                padding: 15px 10px 15px 20px;
                font-size: 24px;
                height: 100%;
                cursor: pointer;
                color: #f3352f;
            }
        }
    }
}
.ovh{
    overflow: hidden;
}
.bigmenu{
    height: 100%;
    &__wrap{
        overflow: auto;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        position: relative;
    }
    &__head{
        & a{
            width: 90px;
            display: flex;
            align-items: flex-start;
        }
        & .-close{
            position: absolute;
            right: 20px;
            top: 10px;
            color: #f3352f;
            font-size: 30px;
            display: none;
            font-weight: 300;
        }
        & .-mini{
            display: none;
        }
    }
    &__body{
        padding: 20px 0;
        & nav{
            display: flex;
            flex-direction: column;
            & div{
                height: 75px;
            }
        }
        & a{
            text-decoration: none;
            font-size: 1.8rem;
            color: #fff;
            height: 100%;
            display: flex;
            align-items: center;
            &:hover{
                color: $bg_blue;
                & svg path{
                    fill:$bg_blue;
                }
            }
            & small{
                width: 20px;
                text-align: center;
                font-size: 2rem ;
                flex-grow: 0;
                flex-shrink: 0;
                margin-right: 20px;
            }
        }
    }
    &__footer{
        & .btn{
            width: 79px;
        }
    }
}
.content{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__body{
        flex-grow: 1;
    }
    &__footer{
        flex-grow: 0;
        flex-shrink: 0;
    }
}
.fx{
    margin-left: 0;
}
.copyright{
    padding-top: 30px;
    padding-bottom: 60px;
    @extend .wramka;
}
.dogovor{
    border-bottom: 1px solid #ddd;
    @extend .wramka;
    &__name{
        padding: 25px 0;
        display: flex;
        color: #515052;
        & .-name{
            padding-right: 65px;
        }
        & .-number{
            padding-right: 65px;
        }
        & .-date{}
        & .-bot{
            font-size: 1.4rem;
        }
        & .-top{
            font-size: 2.8rem;
            height: 35px;
        }
    }
    &__add{
        padding: 40px 0 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .-price{
            flex-grow: 0;
            font-size: 2.8rem;
            color: #363539;
            padding-right: 30px;
            & span{
                margin-right: 8px;
            }
        }
        & .-add{
            flex-grow: 0;
            & .btn{
                font-size: 1.8rem;
                max-width: 140px;
                height: 55px;
            }
        }
        & .-kvit{
            flex-grow: 1;
            display: flex;
            justify-content: center;
            & a{
                text-decoration: none;
                color: $bg_blue;
                transition: .2s;
                display: flex;
                align-items: center;
                & svg{
                    width: 21px;
                    margin-right: 10px;
                    & path{
                        fill: #009bdf;
                    }
                }
                &:hover{
                    color: darken($bg_blue,10%);
                }
            }
        }
        & .-info{
            width: 36%;
            flex-grow: 1;
            color: #b6b6b6;
            line-height: 1.4;
        }
    }
}
.dogovor-content{
    color: $bg_back;
    padding-top: 50px;
    padding-bottom: 50px;
    @extend .wramka;
    &__table{
        width: 100%;
        border: none;
        & td{
            padding-top: 40px;
            padding-bottom: 40px;
            border-bottom: 1px solid #e2e2e2;
        }
        & th{
            text-align: left;
            font-weight: normal;
            font-size: 14px;
        }
    }
    &__num{
        font-size: 20px;
        line-height: 1.4;
        width: 10%;
    }
    &__name{
        font-size: 20px;
        line-height: 1.4;
        width: 50%;
        padding-right: 20px;
    }
    &__plata{
        width: 20%;
        line-height: 1.4;
        & span{
            font-size: 20px;
        }
        & small{
            font-size: 12px;
            padding-left: 10px;
            display: none;
        }
    }
    &__filter{
        width: 20%;
        & button{
            cursor: pointer;
            display: flex;
            align-items: center;
            color: $bg_blue;
            background: transparent;
            & span{
                margin-left: 10px;
            }
        }
    }
}

.login-page{
    //height: 100vh;
    background: #2f2a34 url("/img/strela.png") right top no-repeat;
    &__fx{
        margin-left: auto;
    }
    &__wrap{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        position: relative;
    }
    &__form{
        display: flex;
        justify-content: center;
        padding-left: 4%;
        & > form{
            display: flex;
            height: 100%;
            position: relative;
            flex-direction: column;
            justify-content: space-between;
            max-width: 280px;
            & label{
                & span{
                    white-space: nowrap;
                    color: #fff;
                    font-size: 16px;
                    line-height: 1.4;
                }
                & input{
                    margin-top: 14px;
                    width: 100%;
                    padding: 0 18px;
                    font-size: 16px;
                    color: #fff;
                    height: 55px;
                    line-height: 55px;
                    background-color: rgba(34, 30, 38, 0.8);
                }
            }
            & div{
                position: absolute;
                top: 100%;
                width: 100%;
                padding-top: 40px;
                & button{
                    cursor: pointer;
                    background: #ed1c24;
                    height: 50px;
                    padding: 0 20px;
                    color: #fff;
                    display: flex;
                    font-size: 18px;
                    transition: .2s;
                    align-items: center;
                    & svg{
                        width: 30px;
                        margin-left: 15px;
                    }
                    &:hover{
                        background: darken(#ed1c24,10%);
                    }
                }
            }
        }
    }
    &__logo{
        display: flex;
        align-items: center;
        & .-i{
            display: block;
            width: 100px;
        }
        & .-p{
            padding-left: 130px;
        }
        & a{
            white-space: nowrap;
            color: #fff;
            text-decoration: none;
            font-size: 25px;
            font-weight: 300;
        }
    }
    &__top{
        flex-grow: 1;
        flex-shrink: 1;
        align-items: center;
        display: flex;
        padding-bottom: 40px;
    }
    &__title{
        font-size: 55px;
        font-weight: 800;
        color: #fff;
        line-height: 1.2;
        display: flex;
        text-transform: uppercase;
        align-items: center;
        //width: 40%;
    }
    &__phone{
        display: none;
        & a{
            color: #fff;
            text-decoration: none;
            font-size: 25px;
            font-weight: 300;
        }
    }
    &__links{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 10%;
        & a{
            white-space: nowrap;
            border-bottom: 1px solid #00ace6;
            padding: 4px 0;
            color: #00ace6;
            display: inline-block;
            text-decoration: none;
            &:hover{
                border-color: transparent;
            }
        }
        & .-top{
            & div{
                margin-bottom: 25px;
            }
        }
        & .-bot{}
    }
    &__www{
        display: flex;
        padding-bottom: 110px;
        & > *{
            width: 33.3%;
        }
    }
    &__center{
        flex-grow: 2;
        flex-shrink: 2;
    }
}

@media screen and (max-width: 1400px){
    .dogovor-content{
        &__table{
            & td{
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
        &__name{
            font-size: 18px;
        }
        &__plata{
            & span{
                font-size: 18px;
            }
        }
        &__num{
            font-size: 18px;
        }
    }
}
@media screen and (max-width: 1200px){
    .bigmenu{
        &__head{
            & .-close{
                display: block;
            }
        }
    }
    .site{
        padding-left: 0;
        flex-direction: column;
        &__head{
            display: none;
            width: 100%;
            &.-open{
                display: block;
            }
        }
        &__mob{
            display: block;
        }
    }
    .bigmenu{
        &__body{
            & nav{
                & div{
                    height: 70px;
                }
            }
        }
        &__wrap{
            width: 100%;
            align-items: center;
        }
    }
    .content{
        &__body{
            padding-top: 20px;
        }
    }
    .dogovor{
        &__add{
            padding-top: 30px;
        }
        &__name{
            & .-name{
                display: none;
            }
        }
    }
    .dogovor-content{
        &__table{
            & td{
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
        &__name{
            font-size: 20px;
        }
        &__plata{
            & span{
                font-size: 20px;
            }
        }
        &__num{
            font-size: 20px;
        }
    }
    .wramka{
        padding-left: 3%;
        padding-right: 3%;
    }
    .copyright{
        padding-bottom: 40px;
    }
    .login-page{
        &__form{
            & > form{
                & label{
                    & span{
                        display: block;
                        padding: 15px 0 0;
                    }
                }
            }
        }
        &__links{
            padding-left: 6%;
        }
        &__title{
            font-size: 45px;
            line-height: 1.4;
        }
    }
}
@media screen and (max-width: 950px){
    .site{
        &__head{
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: none;
        }
    }
    .bigmenu{
        &__wrap{
        }
    }
    .dogovor{
        &__name{
            & .-top{
                font-size: 2.4rem;
            }
        }
        &__add{
            padding: 50px 0;
            position: relative;
            & .-info{
                padding-left: 30px;
            }
            & .-kvit{
                position: absolute;
                left: 0;
                top: 10px;
            }
        }
    }
    .dogovor-content{
        &__table{
            & td{
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
        &__name{
            font-size: 18px;
        }
        &__plata{
            & span{
                font-size: 18px;
            }
        }
        &__num{
            font-size: 18px;
        }
    }
    .copyright{
        padding: 60px 0 30px;
    }
    .login-page{
        &__title{
            width: 100%;
            text-align: center;
            justify-content: center;
            padding-bottom: 50px;
        }
        &__top{
            justify-content: center;
        }
        &__form{
            width: 50%;
            & > form{
                & label{
                    & span{
                        display: block;
                        padding: 0;
                    }
                }
            }
        }
        &__www{
            flex-wrap: wrap;
        }
        &__links{
            width: 50%;
        }
    }
}
@media screen and (max-width: 768px){
    .site{
        &__mob{
            padding-top: 7px;
            box-shadow: none;
            & .fx{
                padding-right: 0;
            }
            & .-right{
                & .-bar{
                    font-size: 20px;
                    padding-right: 20px;
                }
                & .-name{
                    & a{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .content{
        &__body{
            padding-top: 0;
        }
    }
    .wramka{
        padding-left: 0;
        padding-right: 0;
    }
    .dogovor{
        &__add{
            padding: 20px 0 40px;
            flex-wrap: wrap;
            & .-add{
                flex-grow: 1;
                & .btn{
                    height: 50px;
                    font-size: 14px;
                }
            }
            & .-price{
            }
            & .-kvit{
                position: initial;
                justify-content: flex-start;
                width: 100%;
                padding: 30px 0;
            }
            & .-info{
                width: 100%;
                padding: 0;
                font-size: 12px;
            }
        }
        &__name{
            display: flex;
            padding: 20px 0;
            max-width: 350px;
            & > *{
                width: 50%;
            }
            & .-number{
                padding: 0;
            }
            & .-bot{
                font-size: 12px;
            }
            & .-top{
                height: 28px;
                font-size: 20px;
            }
        }
    }
    .dogovor-content{
        padding: 0;
        & .fx{
            padding: 0;
        }
        &__table{
            & td{
                padding: 0;
                border-bottom: none;
            }
            & tr{
                position: relative;
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid #e2e2e2;
                padding: 25px 20px 25px 50px;
                &:first-child{
                    display: none;
                }
            }
        }
        &__name{
            font-size: 16px;
            width: 100%;
        }
        &__filter{
            width: 100%;
            padding-top: 15px;
        }
        &__plata{
            padding: 20px 0 !important;
            width: 100%;
            display: flex;
            align-items: center;
            & span{
                font-size: 20px;
            }
            & small{
                display: block;
            }
        }
        &__num{
            font-size: 20px;
            position: absolute;
            left: 20px;
            top: 23px;
        }
    }
    .copyright{
        padding: 60px 0 30px;
    }
    .bigmenu{
        &__body{
            padding: 40px 0;
            & nav{
                & div{
                    height: 60px;
                }
            }
        }
        &__wrap{
            align-items: flex-start;
            padding: 20px;
        }
        &__head{
            & a{
                display: none;
            }
            & .-close{
                right: 25px;
                font-size: 25px;
                top: 20px;
            }
            & .-mini{
                display: flex;
                align-items: center;
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                font-size: 12px;
                width: 120px;
            }
        }
    }

    .login-page {
        background-size: 85%;
        &__title {
            font-size: 30px;
        }
    }
}
@media screen and (max-width: 550px){
    .login-page {
        background-size: 125%;
        background-position-x: 70px;
        &__logo {
            & .-p{
                display: none;
            }
        }
        &__title {
            font-size: 26px;
            padding-bottom: 20px;
            & br{
                display: none;
            }
        }
        &__phone{
            position: relative;
            display: block;
            font-size: 25px;
            width: 100%;
            text-align: center;
            overflow: hidden;
            padding: 20px 0 40px;
            margin-top: 40px;
            &:after{
                content: '';
                display: block;
                height: 1px;
                top: 0;
                left: -50px;
                right: -50px;
                background-color: rgba(226, 226, 226, 0.1);
                position: absolute;
            }
        }
        &__links{
            width: 100%;
            padding: 0;
            & a{
                font-size: 14px;
            }
            & > *{
                display: flex;
                align-items: center;
                flex-direction: column;
            }
        }
        &__www{
            padding-bottom: 40px;
        }
        &__form{
            width: 100%;
            & > form{
                max-width: 350px;
                width: 100%;
                & label{
                    & span{
                        font-size: 14px;
                        padding-top: 15px;
                    }
                }
                & div{
                    position: initial;
                    & button{
                        margin: auto;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 480px){}
